* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lexend Deca';
    font-size: 15px;
}

.card {
    border-radius: 10px;
    display: flex;

    margin: 100px auto 100px auto;
    height: 600px;
    width: 1000px;
}

.sedan, .suv, .luxury {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sedan *, .suv *, .luxury * {
    margin-left: 40px;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
}

.suv {
    background-color: hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    padding-right: 5px;
}

body, h1, button {
    color: hsl(0, 0%, 95%);
}

img {
    width: 80px;
    margin-top: 40px;
}

h1 {
    font-family: 'Big Shoulders Display';
    font-size: 50px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.8;
}

.card button:hover {
    background-color: transparent;
    cursor: pointer;
    
    p {
        color: white;
    }
}

button {
    border-radius: 25px;
    border: 2px solid white;
    width: 170px;

    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 100px;
}

button p {    
    line-height: normal;
    text-align: left;
    font-size: 17px;
}

.sedan button p {
    color: hsl(31, 77%, 52%);
}

.suv button p {
    color: hsl(184, 100%, 22%);
}

.luxury button p {
    color: hsl(179, 100%, 13%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 375px) {
    .card {
        flex-direction: column;
        width: 300px;
        margin: 20px auto 20px auto;
    }

    button {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .attribution {
        position: absolute;
        top: 0;
    }
}

